/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block{
    height: 100vh;
    position: relative;
}
/*number cicle*/
header{
    position: absolute;
    right: 0;

}

.circle{
    margin: 1vh;
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
    position: relative;
    background-color: beige;
    display: inline-block;
    text-align: center;
    line-height: 6vh;
    font-size: 3vh;
    cursor: pointer;
    z-index: 10;
}

.circle:hover{
    box-shadow: 5px 5px 5px black;
}

/*img modeling*/
img,span{
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

/*text modeling*/
h2{
    position: relative;
    top: 100%;
    font-size: 8vh;
    text-align: center;
}

/*main color*/
.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.yellowtext{
    color: yellow;
}


.greentext{
    color: green;
}